.login-signup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 60px 30px;
    background-color: #edeff1;
    margin-top: 60px;

    .login-section,
    .register-section {
        border-radius: 5px;
        padding: 20px 20px;
        margin: 0px;
        width: 500px;
        display: inline-block;
        background: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    }

    h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 0 0 30px 0;
        font-weight: 600;
        margin: 0;
    }

    label {
        display: block;
        margin-top: 10px;
        text-align: left;
        font-size: 0.875rem;
        font-weight: 700;
        padding: 5px 0;
    }

    input {
        width: 100%;
        padding: 14px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid #121316;
        border-radius: 5px;
        background: transparent;
        font-size: 1rem;
        font-weight: 400;
    }

    .sign-in-button,
    .register-in-button {
        padding: 15px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        border: 2px solid #4b32c3;
        border-radius: 5px;
        background: #4b32c3;
        color: #fff;
        transition: all 0.3s ease;
    }

    button:hover {
        background: #6137de;
    }

    button:disabled,
    button[disabled] {
        background-color: #cccccc;
        color: #666666;
        border: 1px solid #999999;
        cursor: not-allowed;
        opacity: 0.7;
        box-shadow: none;
        transition: background-color 0.3s, color 0.3s;
    }

    p {
        span {
            color: rgb(0, 110, 255);
            text-decoration: underline;
            cursor: pointer;
        }

        span:hover {
            color: rgb(3, 99, 226);
        }

        font-size: 13px;
    }

    .check-box {
        width: 20px;
        margin: 0;
        margin-right: 10px;
    }

    .check-box-label {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
    }
}

@media (max-width: 500px) {
    .login-signup-body {
        padding: 60px 15px;

        .login-section,
        .register-section {
            border-radius: 5px;
            padding: 20px 10px;
            margin: 0px;
            width: 100%;
        }
    }
}