  .pg-main-container {
    overflow: hidden;
    display: flex;
    margin-top: 70px;
    height: calc(100vh - 70px);
    position: fixed;
    .left {
      overflow-y: hidden;
      width: 65vw;
      height: 100%;
      border-right: 1px solid #606060;
      background: #f5f5f5;
  
      .intro-editor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
  
        .main-avenger {
          height: 100%;
          width: 130px;
          background-color: #1e1e1e;
          padding: 10px;
          font-size: 16px;
          margin-bottom: 0;
          color: white;
        }
  
        .padding {
          width: 100%;
          background: #2d2f34;
          display: flex;
          justify-content: right;
          align-items: center;
          padding: 10px;
  
          .btn {
            padding: 5px;
            padding-right: 0px;
            width: 80px;
            margin-top: 2px;
          }
        }
      }
  
      .monaco-editor {
        box-sizing: border-box;
        padding-top: 10px;
        background-color: #1e1e1e;
      }
  
      .file-upload {
        border-right: 1px solid #606060;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 10;
        width: 65vw;
        height: 80px;
        background: #2d2f34;
        padding: 10px;
        margin-top: 10px;
  
        input {
          background: #0d6efd;
          color: white;
          border-radius: 5px;
        }
  
        input::file-selector-button {
          font-weight: bold;
          color: #0d6efd;
          padding: 5px;
          border: thin solid grey;
          border-radius: 3px;
        }
      }
    }
  
    .right{
      display: flex;
      flex-direction: column;
      .codeOp{
        display: flex;
        align-items: center;
        margin: 0;
        height: 38px;
        padding-left: 10px;
        background-color: #2d2f34;
        color: white;
        font-size: 16px;
      }
      .terminal
      {
        overflow-Y: scroll;
        height: 100%;
        width: 100%;
        padding: 10px;
        background-color: #1e1e1e;
        margin-bottom: 0;
        color: white;
        .outputIntro{
          color: #3ff12f;
        }
      }
      width: 35vw;
    }
  }
