.loader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 100vh;
  margin-right: 15%;
}
.avengers-logo{
  width: 30vw;
  animation: rotateLogo 3s linear infinite;
}
@keyframes rotateLogo {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg); /* Rotate the logo 360 degrees around Y-axis */
  }
}