.myNavbar{
    z-index: 0;
    border-bottom: 1px solid #d0d7de;
    background: #f6f8fa;
    .my-btn{
        border: 1px solid #121316;
        transition: all 0.3s ease;
    }
    .my-btn:hover{
        border: 1px solid #272930;
    }
    .active{
        font-weight: 500;
        color: #4b32c3!important;
    }
    .about-us-btn{
        background-color: #4b32c3;
    }
    .about-us-btn:hover{
        background-color: #3d29a1;
    }
}
