.contest-page-container {
    padding: 45px 0px;
    padding-bottom: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    .contest-page-container-inner {
        width: 100%;
        height: 93vh;
        background-image: url("../../../assets/images/assembleBg.png");
        overflow-y: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .contest-not-started {
            width: 100%;

            .contest-not-started-top {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h1 {
                    font-weight: 800;
                    color: #ea1b24;
                    padding: 10px;
                    font-size: 130px;
                    font-family: 'Inter', sans-serif;
                    margin: 0;
                }

                h3 {
                    font-weight: 600;
                    color: #000;
                    padding: 10px;
                    font-size: 25px;
                    font-family: 'Inter', sans-serif;
                    margin: 0;
                }

                .description {
                    align-self: center;
                    padding: 0 20vw;
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        width: 150px;
                        padding: 8px 12px;
                        margin: 5px 12px;
                        border: 2px solid #4a32c3;
                        border-radius: 6px;
                        font-weight: 500;
                        background-color: #4a32c327;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .contest-started {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
        overflow-y: hidden;

        .contest-questions {
            padding: 0 0px;
            width: 100%;
            overflow-y: hidden;
            padding: 0 0px;
            border-radius: 0px;

            .question-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
                padding: 0 30px;
                padding-top: 0px;

                .countdown {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    background: rgba(243, 231, 255, 0.628);
                    box-shadow: 0px 0px 5px 5px #00000010;
                    padding: 0px 2px;
                    border-radius: 5px;
                    border: 1px solid #3d29a1;

                    .text {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h3 {
                            align-self: center;
                            text-align: center;
                            margin: 0;
                            font-size: 20px;
                            font-weight: 600;
                            padding: 5px 10px;

                            span {
                                color: #4a32c3;
                            }
                        }
                    }
                }

                button {
                    margin: 0 10px;
                    padding: 5px 10px;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    background-color: #fff;

                    &.active {
                        background-color: #4a32c32e;
                        color: #fff;
                        border: 2px solid #4a32c3;
                    }
                }
            }

            .question-divs {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.mobile-warning-card {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-content {
    background-color: #f8d7da;
    border: 1px solid #dc3545;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #dc3545;
    margin-bottom: 10px;
}

p {
    color: #333;
    margin: 10px 0;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 150px;
        padding: 8px 12px;
        margin: 5px 12px;
        border: 2px solid #4a32c3;
        border-radius: 6px;
        font-weight: 500;
        background-color: #4a32c327;
        cursor: pointer;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}