@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    background: #fff;
}

::selection {
    color: #fff;
    background: #121316;
}

.assemble-script::selection {
    color: #fff !important;
    background: #4a32c3c9;
}

@media (max-width: 850px) {
    .webgl {
        display: none;
    }
}

h1 {
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1::selection{
    color: #fff;
    background: #121316;
}
