.section1 {
    height: 100vh;
    border-bottom: 1px solid #e5e7eb;

    .webgl {
        height: 100vh;
        width: 100vw;
        position: relative;
        top: 0;
        left: 0;
    }

    .mainPageContainer {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        padding: 160px 100px 0px 100px;

        .left {
            display: flex;
            flex-direction: column;
            width: 49vw;

            .home-title-container {
                .main-title {
                    font-size: 4vw;
                    font-weight: 800;

                    // line-height: px;
                    .assemble-script {
                        color: #4b32c3;
                    }

                    height: 25vh;
                }
            }

            .main-info {
                margin-top: 15px;
                font-size: 20px;
                color: #667085;
            }

            .main-btn-container {
                margin-top: 70px;
                width: 100%;
                display: flex;

                .main-btn {
                    margin-right: 20px;
                    border: 1px solid #121316;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 90%;

            .version {
                font-size: 18px;
                margin-left: 4px;

                .version-title {
                    color: #667085;
                    font-size: 20px;
                    margin-bottom: 0;
                }

                hr {
                    margin-top: 3px;
                    margin-bottom: 4%;
                }

                margin-bottom: 20px;
            }

        }
    }

    @media (max-height: 645px) {
        .mainPageContainer {
            .left {
                .home-title-container {
                    .main-title {
                        font-size: 3vw;
                        height: 20vh;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1500px) {
        .mainPageContainer {
            .left {
                .home-title-container {
                    .main-title {
                        font-size: 2.8vw;
                        height: 20vh;
                    }
                }
            }
        }
    }


    @media (max-width: 850px) {
        .mainPageContainer {
            width: 100vw;
            height: 100%;
            flex-direction: column;
            padding: 90px 20px 0px 20px;

            .left {
                display: flex;
                flex-direction: column;
                width: 100%;

                .home-title-container {
                    .main-title {
                        font-size: 30px;
                        font-weight: 800;
                        line-height: 38px;
                        transition: all 0.3s ease;

                        .assemble-script {
                            color: #4b32c3;
                        }
                    }

                    height: 110px;
                }

                .main-info {
                    margin-top: 30px;
                    font-size: 20px;
                }

                .main-btn-container {
                    margin-top: 30px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .main-btn {
                        width: 100%;
                        font-size: 16px;
                        padding: 16px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border: 1px solid #121316;
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                }
            }

            .right {
                margin-top: 60px;
                display: flex;
                height: 90%;

                .version {

                    font-size: 18px;
                    margin-left: 4px;

                    .version-title {
                        color: #667085;
                        font-size: 20px;
                        margin-bottom: 0;
                    }

                    hr {
                        margin-top: 3px;
                        margin-bottom: 4%;
                    }

                    margin-bottom: 20px;
                }

            }
        }
    }
}

#section2 {
    height: 100vh;
    border-bottom: 1px solid #e5e7eb;

    .webgl {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .section2Container {
        pointer-events: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100vh;
        left: 0;
        padding: 90px 160px 90px 160px;

        .section2-title {
            width: 100%;
            text-align: right;
            font-weight: 600;
        }

        .key-info {
            width: 50%;
            align-self: flex-end;
            text-align: right;
            color: #667085;
            font-size: 16px;
            margin-bottom: 30px;
        }

        .features {
            padding-right: 30px;
            width: 50%;
            align-self: flex-end;
            text-align: right;
            border-right: 3px solid #f2f4f7;

            .feat {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: space-evenly;
                justify-content: space-evenly;
                border-bottom: 2px solid #f2f4f7;

                .feat-title {
                    font-weight: 600;
                }

                .feat-into {
                    color: #667085;
                    font-size: 15px;
                }

                .learnmore {
                    pointer-events: auto;
                    color: #4b32c3;
                }
            }

        }
    }
}

@media (max-width: 850px) {
    #section2 {
        height: 100%;
       
        .webgl {
            width: 0vw;
            height: 0vh;
        }

        .section2Container {
            pointer-events: auto;
            padding: 0;
            height: 100%;
            padding: 150px 20px;
            .section2-title {
                width: 100%;
                text-align: center;
                font-weight: 600;
            }

            .key-info {
                width: 100%;
                align-self: flex-end;
                text-align: center;
                color: #667085;
                font-size: 16px;
                margin-bottom: 30px;
            }

            .features {
                padding-right: 0px;
                width: 100%;
                align-self: flex-start;
                text-align: left;
                border-right: 0px;

                .feat {
                    padding: 20px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: space-evenly;
                    justify-content: space-evenly;
                    border-bottom: 2px solid #f2f4f7;

                    .feat-title {
                        font-weight: 600;
                    }

                    .feat-into {
                        color: #667085;
                        font-size: 15px;
                    }

                    .learnmore {
                        pointer-events: auto;
                        color: #4b32c3;
                    }
                }

            }
        }
    }
}